<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Quiz App</a>
        </div>
        <div class="collapse navbar-collapse">
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div ng-controller="QuizCtrl as quiz" data-ng-init="quiz.startTimer()" class="container">
    <div class="container">
        <form>
            <h3>Quiz Timer: {{ quiz.counter }} </h3>
            <button class="btn btn-default" ng-click="quiz.startTimer()">Start</button>
            <button class="btn btn-default" ng-click="quiz.cancelTimer()">Stop</button>
            <button class="btn btn-default" ng-click="quiz.resetTimer()">Reset</button>
        </form>
    </div>
    <div ng-controller="QuestionCtrl as question">
        <div class="jumbotron question sm-col-12">
            <form ng-submit="question.submitQuestion()">
                <h2>Insert Question Here</h2>
                <div class='form-group'>
                    <label>Question</label>
                    <input type="text" ng-model="question.nextQuestion.q">
                </div>
                <ul id='question-list'>
                    <li ng-repeat="option in question.nextQuestion.options">
                        <div class='form-group'>
                            <label>Answer Option</label>
                            <input type="text" ng-model="option.value">
                            <input type="radio" name="correct" ng-model="question.nextQuestion.answer" ng-value="option.value">
                        </div>
                    </li>
                </ul>

                <div class='form-group'>
                    <label>Difficulty</label>
                    <input type="number" ng-model="question.nextQuestion.difficulty">
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
        <h3>Score: {{ question.points }}</h3>
        <br>
        <ul>
            <li ng-repeat="quest in question.quiz | orderBy: 'difficulty'">
                <h4>Question {{ $index + 1 }}</h4>
                <strong>{{ quest.q }}</strong>
                <div ng-repeat="option in quest.options">
                    <button class="btn btn-default" ng-click="question.checkAnswer(quest, option.value)">
                        {{ option.value }}
                    </button>
                </div>
                <br>
            </li>
        </ul>
    </div>
</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<!--<script src="../../dist/js/bootstrap.min.js"></script>-->
